body{
    background: rgb(24,24,36);
    color: white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
#portfolio{
    position: center;
    
}

header{
    background-image: linear-gradient(to right, rgba(255,0,0,0),rgba(255,0,0,1));
    font-size: medium;
    
    padding: 26px;
}

.top-section {
    background-color: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}
div{
   
    width: 100px;
    margin: auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
}
li{
    display: inline;
    margin: 0 20px 0 0;
}
li:first-child{
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-right: 1000px;
}


a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
footer{
    background: black;
    padding: 20px;
}